.app-section {
  margin: 10px;
  padding: 10px;
  border-bottom: 0.25rem solid #f1f1f1;
  text-align: center;
}

.app-section h2 {
  text-align: center;
  font-size: 25px;
  flex-basis: 100%;
}

.submission-success {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  margin: 10px;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.container {
  background-color: #fff;
}

.form {
  padding: 30px 40px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.form h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: inherit;
  margin: 0.5rem;
}

.input-disabled {
  background-color: #f1f1f1;
}

input:invalid {
  border-color: #ba3a26;
  box-shadow: 0 0 0 1px #ba3a26;
}

input:invalid:required {
  border-color: #ba3a26;
  box-shadow: 0 0 0 1px #ba3a26;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  text-align: left;
}

.form-control label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.form-control input[type='text'],
[type='email'] {
  display: block;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  appearance: none;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #6a6a6a;
  box-sizing: border-box;
  line-height: 1.375rem;
  min-width: 100%;
  max-width: 100%;
}

.form-control input[type='checkbox'] {
  display: inline;
  text-align: center;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0.5rem;
  border: 1px solid #78706a;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
}

.form-control input:disabled {
  background-color: #f1f1f1;
}

.form-control.error input {
  border-color: #ba3a26;
  box-shadow: 0 0 0 1px #ba3a26;
}

.form-control.error small {
  visibility: visible;
  color: #ba3a26;
  margin-left: 0.5rem;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.form-control small {
  visibility: hidden;
  position: relative;
  bottom: 0;
  left: 0;
}
