.container {
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 15px;
}

.inner-container {
  padding: 30px 40px;
  margin: 1rem;
}

.agreement-section {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1rem;
}

.agreement-section .label {
  display: inline-block;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
  line-height: 1.4;
}

.agreement-section h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: inherit;
  margin: 0.5rem;
  padding: 0.5rem;
}

.agreement-section .section-info {
  font-family: inherit;
  margin: 0.5rem;
  padding: 0.5rem;
}

.section-info div {
  margin-bottom: 1rem;
}

.agreement-section .section-info span {
  display: block;
  font-family: inherit;
  font-size: 1rem;
}

.agreement-section .slds-col {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.agreement-section button {
  font-size: inherit;
  font-family: inherit;
}

.agreement-section label {
  display: inline-block;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
  line-height: 1.4;
  margin-left: 0.5rem;
}

.agreement-section input[type='checkbox'] {
  display: inline;
  text-align: center;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0.5rem;
  border: 1px solid #78706a;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
}

.agreement-section input:disabled {
  background-color: #f1f1f1;
  font-weight: 600;
}

.inner-container button {
  margin: 10px;
}

.breadcrumbs {
  margin-bottom: 1rem;
  margin: 0 auto;
  padding-top: 1rem;
  max-width: 800px;
}

.sub-title {
  font-family: inherit;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  margin-top: 0;
  padding-top: 0;
}

.button-remove {
  color: #0067c5;
  text-decoration: underline;
  text-decoration-color: #0067c5;
  background-color: transparent;
  border: transparent;
  font: inherit;
  font-size: 1rem;
}

.form-control.error small {
  visibility: visible;
  color: #ba3a26;
  margin-left: 1rem;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.form-control small {
  visibility: hidden;
  position: relative;
  bottom: 0;
  left: 0;
}

.submission-success {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
