.container {
  background-color: #fff;
  margin: 0 auto;
  max-width: 1200px;
}

.inner-container {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px 60px;
  min-height: 400px;
}

.no-applications-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-applications-container p {
  margin: 25px;
}

.breadcrumbs {
  padding-left: 0.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 576px) {
  .inner-container {
    padding: 1rem 3rem 1rem 3rem;
  }
  .breadcrumbs {
    margin-bottom: 0;
  }
}