input:invalid {
  border-color: #ba3a26;
  box-shadow: 0 0 0 1px #ba3a26;
}

input:invalid:required {
  border-color: #ba3a26;
  box-shadow: 0 0 0 1px #ba3a26;
}

.form-control input[type='text']:disabled,
[type='email']:disabled,
[type='tel']:disabled {
  background-color: #f1f1f1;
  font-weight: 600;
}

.app-section h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: inherit;
  flex-basis: 100%;
}

.inner-container {
  margin: 0 auto;
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.inner-container .form-control {
  margin-right: 30px;
}

.form-control {
  margin-bottom: 10px;
  text-align: left;
  position: relative;
}

.form-control label {
  display: inline-block;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
  line-height: 1.4;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.form-control input[type='text'],
[type='email'],
[type='tel'] {
  display: block;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  appearance: none;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #6a6a6a;
  box-sizing: border-box;
  line-height: 1.375rem;
  min-width: 100%;
  max-width: 100%;
}

.form-control input[type='checkbox'] {
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0.5rem;
  border: 1px solid #78706a;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
}

.form-control.error small {
  visibility: visible;
  color: #ba3a26;
  margin-left: 0.5rem;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  margin: 10px;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
}
