textarea:invalid {
  border-color: #ba3a26;
  box-shadow: 0 0 0 1px #ba3a26;
}

textarea:invalid:required {
  border-color: #ba3a26;
  box-shadow: 0 0 0 1px #ba3a26;
}

select:invalid {
  border-color: #ba3a26;
  box-shadow: 0 0 0 1px #ba3a26;
}

select:invalid:required {
  border-color: #ba3a26;
  box-shadow: 0 0 0 1px #ba3a26;
}

.form-control select:disabled {
  background-color: lightgray;
  font-weight: 600;
}

.form-control textArea:disabled {
  background-color: lightgray;
  font-weight: 600;
}

.form-control {
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
  text-align: left;
}

.form-control label {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
  line-height: 1.4;
  margin-left: 0.5rem;
  display: inline-block;
}

.form-control select {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #78706a;
  box-sizing: border-box;
  line-height: 1.375rem;
  max-width: 100%;
  width: 100%;
  margin: 0.5rem;
  display: block;
  opacity: 100;
}

.form-control option {
  max-width: 100%;
}

.form-control textArea {
  width: 100%;
  max-width: 100%;
  margin: 8px 8px 0px 8px;
  resize: none;
}

.form-control input[type='checkbox'] {
  display: inline;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0.5rem;
  border: 1px solid #78706a;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
}

.form-control.error input {
  border-color: #ba3a26;
  box-shadow: 0 0 0 1px #ba3a26;
}

.form-control.error small {
  visibility: visible;
  color: #ba3a26;
  margin-left: 0.5rem;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  margin: 10px;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.character-count {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  margin-left: 0.5rem;
}

abbr {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}
