.container {
  background-color: #fff;
  margin: 0 auto;
}

.inner-container {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px 60px;
  min-height: 400px;
}

.no-applications-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-applications-container p {
  margin: 25px;
}
