.unread-cell {
  .unread-cell {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.75rem;
    height: 1.75rem;
    padding: 0 0.4rem;
    margin: 0 auto;
    background-color: #ba0517;
    color: #fff;
    font-weight: 700;
    border-radius: 50rem;
  }
}

tr:has(.unread-cell) {
  background-color: #fff0f0;
}